:root {
  --primary-text-color: #2b2b2b;
  --secondary-text-color: #487996;
  --accent-color: #7ea8ca;
  --primary-bg-color: #ffffff;
  --primary-font-family: 'Cera Pro', sans-serif;
  --secondary-font-family: 'Caviar Dreams', sans-serif;
}
