//CONTACT//

@media screen and (min-width: 320px) {
  .contact__address-list__text {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: var(--secondary-text-color);
    margin-bottom: 8px;
  }

  .contact__address-list__link {
    display: block;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;

    color: var(--primary-text-color);
  }

  .contact__address-list__link:not(:last-child) {
    margin-bottom: 8px;
  }

  .contact__address-list__text-time {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: var(--primary-text-color);
  }

  .contact__address-list__text-time:not(:last-child) {
    margin-bottom: 8px;
  }

  .contact__address-list__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

//TABLET//
@media screen and (min-width: 768px) {
  .contact__address-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .contact__address-list__text {
    font-size: 24px;
    line-height: 30px;
  }

  .contact__address-list__text-time {
    text-align: end;
  }
}

//DESKTOP//

@media screen and (min-width: 1440px) {
  .contact__address-list__text {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 18px;
  }

  .contact__address-list__item:not(:last-child) {
    margin-bottom: 68px;
  }

  .contact__address-list__text-time {
    text-align: start;
  }
  .contact__address-list__link {
    font-size: 18px;
    line-height: 20px;
  }

  .contact__address-list__link:not(:last-child) {
    margin-bottom: 18px;
  }

  .contact__address-list__text-time-carryover {
    display: none;
  }
  .contact__address-list__text-time {
    font-size: 18px;
    line-height: 20px;
  }

  .contact__address-list__text-time:not(:last-child) {
    margin-bottom: 18px;
  }
}

//END CONTACT//
