/****** HERO*****/
.hero__page-oder-container {
  padding-top: 32px;
}

.hero__item-page-oder {
  margin-bottom: 16px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;

  color: var(--secondary-text-color);
}
.hero__page-oder-pic {
  margin-bottom: 16px;
}

.hero__page_oder-text1,
.hero__page_oder-text2 {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  color: var(--primary-text-color);
}
.hero__page_oder-text1 {
  margin-bottom: 16px;
}
.hero__page_oder-text2 {
  margin-bottom: 52px;
}

/*-Контейнер для обмеження контенту tablet-версії-*/

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero__page-oder-container {
    padding-right: 0;
    padding-left: 0;
  }
  .hero__blok-img {
    display: flex;
    margin-bottom: 52px;
  }
  .hero__item-page-oder {
    margin-bottom: 24px;

    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;

    color: var(--secondary-text-color);
  }
  .hero__page_oder-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .hero__page_oder-text2 {
    margin-bottom: 0;
  }

  .hero__page-oder {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 35px;
    padding-bottom: 76px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  img {
    display: block;
    height: auto;
    max-width: none;
  }
}
/*-Контейнер для обмеження контенту desktop-версії-*/
@media screen and (min-width: 1440px) {
  .hero__page-oder {
    padding-right: 189px;
    padding-left: 189px;
    padding-top: 24px;

    background-image: url(../images/take-order/decor_d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero__page_oder-blok {
    display: flex;
    flex-direction: column;
  }
  .hero__page_oder-text1,
  .hero__page_oder-text2 {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    margin-left: 32px;
  }
  /* new one */
  .hero__blok-img {
    display: flex;
    margin-bottom: 100px;
  }

  .hero__item-page-oder {
    margin-bottom: 24px;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;

    color: var(--secondary-text-color);
  }
  .hero__page_oder-text1 {
    margin-bottom: 24px;
  }
  .hero__page_oder-text2 {
    margin-bottom: 35px;
  }
  .hero__page-oder-pic1 {
    max-width: 100%;
    margin-bottom: 0;
  }

  img {
    display: block;
    height: auto;
    max-width: none;
  }
}
