/*button*/
@media screen and (min-width: 320px) {
  .button {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .button {
    width: 100%;
  }
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

// FORM**//
// section form--------------

.oder-form__input {
  margin-bottom: 44px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--secondary-text-color);
}

.oder-form__input--wrap {
  position: relative;
}

.oder-form__input--wrap input {
  border: none;
  display: block;
  width: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.oder-form__input--wrap label {
  position: absolute;
  bottom: 8px;
  left: 0;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.11;
  }
  text-transform: capitalize;
}

.oder-form__input--wrap input:focus + .oder-form__label {
  transform: translateY(-100%);
}

.oder-form__input--wrap input:not(:placeholder-shown) + .oder-form__label {
  transform: translateY(-100%);
}

.select-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
}

.select-box__list {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 13px;
  max-height: 0;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  border-bottom: 1px solid rgba(72, 121, 150, 0.5);

  order: 1;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.select-box__list.active {
  max-height: 100%;
  opacity: 1;
  transform: scaleY(1);
}
.select-box__list {
  z-index: 1;
}
.select-box {
  position: relative;
}
.select-box__item {
  height: 28px;
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.11;
  }

  color: var(--primary-text-color);
}

.select-box__item,
.select-form__subtitle {
  cursor: pointer;
}

.select-form__subtitle {
  position: relative;
  order: 0;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  &::after {
    content: '';
    display: block;
    background-image: url(../images/take-order/polygon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 13px;
    height: 19px;
    right: 0;
    bottom: 0;

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.11;
  }

  padding-bottom: 4px;
  border-bottom: 1px solid var(--secondary-text-color);

  color: var(--primary-text-color);
}

.select-box__list.active + .select-form__subtitle::after {
  transform: rotate(180deg);
  top: -8px;
}

.select-box .radio {
  display: none;
}

.select-box__item:hover {
  color: #ffffff;
  background-color: rgba(72, 121, 150, 0.5);
}

.area-box {
  position: relative;
  margin-bottom: 24px;
}
.area-wrap {
  display: flex;
  flex-direction: column;
}

.area-wrap label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.11;
  }

  text-transform: capitalize;
}

// END FORM

.button {
  width: 280px;

  margin-top: 24px;
  margin-bottom: 52px;
  padding: 16px 32px;
  background: #f5f5fa;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  cursor: pointer;
  border: none;

  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
  transition: box-shadow 300ms ease-out;

  &:hover {
    box-shadow: -12px -12px 22px #ffffff, 12px 12px 22px rgba(24, 125, 184, 0.1),
      7px 7px 22px rgba(35, 76, 99, 0.25), -7px -7px 12px #ffffff;
  }

  &:focus {
    box-shadow: -12px -12px 22px #ffffff, 12px 12px 22px rgba(23, 26, 27, 0.1),
      7px 7px 22px rgba(2, 25, 37, 0.25), -7px -7px 12px #ffffff;
  }
}

.button__link {
  width: 100%;
  height: 100%;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.page-oder__button {
  align-self: flex-end;
}
.page-oder__form-conteiner {
  display: flex;
  flex-direction: column;
}

.page-oder__form-item {
  margin-bottom: 28px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;

  color: var(--secondary-text-color);
}
.page-oder__form {
  display: flex;
  flex-direction: column;
}

.page-oder__form-input {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-text-color);
  border: none;

  border-bottom: 1px solid var(--secondary-text-color);
}
.page-oder__message {
  width: 100%;
  height: 199px;
  margin-bottom: 4px;
  margin-top: 4px;
  resize: none;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #cdcdcd;
  border: 1px solid var(--secondary-text-color);
  box-sizing: border-box;
  border-radius: 50px 0px;
  padding-left: 20px;
  padding-top: 22px;

  &::placeholder {
    color: #cdcdcd;
  }
  &:focus {
    outline: none;
  }
}
.page-oder__form-message-text {
  width: 100%;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #cdcdcd;
}
// skrepka
.paper-clip-icon {
  position: absolute;
  width: 22px;
  height: 20px;
  left: 85%;
  top: 80%;
  cursor: pointer;
}
.page-oder__form-message {
  position: relative;
}

/*-Контейнер для обмеження контенту tablet-версії-*/
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .page-oder__form {
    width: 420px;
  }
  .conteiner_form {
    padding-left: 0;
    padding-right: 0;
  }
  .page-oder__form-item {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 7px;
  }
  .page-oder__form-section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .page-oder__message {
    margin-top: 4px;
  }
  .button {
    margin: 44px 0 76px 0;
  }
  // skrepka
  .paper-clip-icon {
    left: 90%;
    top: 80%;
  }
}
@media screen and (min-width: 1440px) {
  .button {
    width: 177px;
    height: 56px;

    margin-left: 330px;
    margin-bottom: 0;
  }
  .page-oder__form-section {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
  }
  .page-oder__form {
    margin-left: 0;
    width: 515px;
  }
  .page-oder__form-item {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;

    color: var(--secondary-text-color);
  }
  .page-oder__form-message {
    padding-top: 22px;
  }
  .page-oder__message {
    margin-top: 4px;
  }
  .page-oder__conteiner {
    display: flex;
    justify-content: space-between;
  }
  // skrepka
  .paper-clip-icon {
    left: 91%;
    top: 80%;
  }
}
