a {
  text-decoration: none;
}
.general-button {
  display: block;
  margin: 52px auto 76px auto;
  padding: 16px 31px;
  background: #f5f5fa;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgb(72 121 150 / 10%),
    5px 5px 10px rgb(72 121 150 / 25%), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  cursor: pointer;
  border: none;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #487996;
  transition: box-shadow 300ms ease-out;
  @media screen and (min-width: 1440px) {
    margin: 100px auto 100px auto;
  }
  @media screen and (min-width: 768px) {
    width: 277px;
  }
}
