.gallery {
  padding-bottom: 52px;
  @media screen and (min-width: 768px) {
    padding-top: 0px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 100px;
  }
}

.gallery__tittle {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  text-align: left;
  color: #487996;
  margin-bottom: 16px;
  flex-basis: 280px;
  margin-left: 13px;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 48px;
    margin-bottom: 52px;
  }
}
.gallery__list {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -19px;
    margin-top: -32px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: -32px;
    margin-top: -56px;
  }
}
.gallery__item {
  width: 280px;
  margin-top: 24px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 38px) / 2);
    margin-left: 19px;
    margin-top: 32px;
  }
  @media screen and (min-width: 1440px) {
    flex-basis: calc((100% - 64px) / 2);
    margin-left: 32px;
    margin-top: 56px;
  }
}
.gallery__item:not(:first-child) {
  @media screen and (max-width: 767px) {
    margin-top: 24px;
  }
}
.container--pack {
  flex-grow: 1;
  border: none;
  max-width: 280px;
  @media screen and (min-width: 768px) {
    max-width: 314px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 515px;
  }
}

.gallery__title--about {
  font-family: Cera Pro;
  font-weight: 300;
  line-height: 1.2;
  font-size: 16px;
  text-align: left;
  color: rgba(72, 121, 150, 1);
  margin-top: 8px;
  @media screen and (min-width: 768px) {
    margin-top: 16px;
    text-align: left;
    text-wrap: wrap;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 18px;
  }
}

img {
  display: block;
  // width: 100%;
  height: auto;
}
