.hero {
  width: 100%;
  height: auto;
  // background-color: #fff;
  padding-top: 32px;
  padding-bottom: 52px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding-top: 44px;
    
  }
  @media screen and (min-width: 1440px) {
    padding-top: 12px;
    padding-bottom: 100px;
  }
}
.hero__container{
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 320px;
    padding-right: 20px;
    padding-left: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1440px) {
    width: 400px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
  }
  @media screen and (min-width: 1440px) {
    width: 638px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.hero__title {
  font-family: Caviar Dreams;
  font-style: Regular;
  font-weight: 400;
  line-height: 1.1;
  font-size: 18px;
  text-align: center;
  color: #2b2b2b;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 48px;
    margin-bottom: 68px;
  }
}
.hero__title--first,
.hero__title--second {
  @media screen and (min-width: 1440px) {
    display: block;
  }
}
.hero__title--down {
  font-family: Caviar Dreams;
  font-style: Regular;
  font-weight: 400;
  line-height: 1.1;
  font-size: 16px;
  text-align: center;
  color: #2b2b2b;
  margin-top: 32px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    margin-top: 64px;
    
  }
  @media screen and (min-width: 1440px) {
    font-size: 36px;
    margin-top: 100px;
  }
}
.arrov--none{
  @media screen and (max-width: 767px) {
  display: none;
}
}
.hero__svg--arrow {
  visibility: hidden;
  opacity: 0;
  @media screen and (min-width: 768px) {
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 16px;
    left: -50px;
    top: 215px;
    transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 1440px) {
    width: 18px;
    left: -160px;
    top: 480px;
    transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.hero__svg--arrow:hover,
.hero__svg--arrow:focus {
  transform: scale(1.7);
  transition: transform 780ms cubic-bezier(0.27, 0.51, 0.55, 0.61);
}
.hero__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.hero__img--robot {
  border-top-right-radius: 25%;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
    
}
.hero__img--robot:hover,
.hero__img--robot:focus {
  transform: scale(0.8);
  transition: transform 780ms ease-in-out 800ms;
}

.hero__img--lamps {
  border-radius: 50%;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
    
}
.hero__img--lamps:hover,
.hero__img--lamps:focus {
  transition: transform 780ms;
  transform: rotate(360deg);
}
.hero__img--head {
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
  
}
.hero__img--head:hover,
.hero__img--head:focus {
  transform: scale(0.8);
  transition: transform 780ms cubic-bezier(0.27, 0.51, 0.55, 0.61);
}
