<body class="general-fon">
  <section class="section-modeling">
    <div class="container">
      <h1 title-modelin>3D МОДЕЛЮВАННЯ</h1>
      <p class="text">
        Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде
        створюватися шляхом 3D друку, обробки заготовки на ЧПУ станках або іншими виробничими
        методами, то до моделі преставляеться ряд інженерних вимог які повинен враховувати дизайнер
        при розробці моделі.
      </p>
      <p class="text-sabject">
        Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для
        її створення. Ми маємо широкий спектр інструментів для вдоволення будь-якої вашої задачі.
      </p>
    </div>
  </section>
  <section class="section-betwent">
    <div class="container">
      <h2 class="title-creative">Способи створення моделі:</h2>
      <ul class="crative-list">
        <li class="crative__item">
          <p class="crative__text">3D сканування</p>
        </li>
        <li class="crative__item">
          <p class="crative__text">На основі фотографій з доданими розмірами</p>
        </li>
        <li class="crative__item">
          <p class="crative__text">За ескізами з розмірами</p>
        </li>
        <li class="crative__item">
          <p class="crative__text">За вашим кресленням</p>
        </li>
        <li class="crative__item">
          <p class="crative__text">По вже існуючому прототипу шляхом зняття розмірів</p>
        </li>
      </ul>
    </div>
    <div class="container">
      <picture>
        <source
          srcset="
            ./images/modeling/tansmashine-desc-1x.jpg 1x,
            ./images/modeling/tansmashine-desc-2x.jpg 2x
          "
          media="(min-width:1444px)"
        />
        <source
          srcset="
            ./images/modeling/tansmashine-tab-1x.jpg 1x,
            ./images/modeling/tansmashine-tab-2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/modeling/tansmashine-mob-1x.jpg 1x,
            ./images/modeling/tansmashine-mob-2x.jpg 2x
          "
          media="(min-width:320px)"
        />
        <img
          src="./images/modeling/tansmashine-desc-1x.jpg"
          alt="3D модель трансмиси"
          width="280"
        />
      </picture>
    </div>
  </section>
  <section class="section-we-made">
    <div class="container">
      <h1 class="our-creative">
        МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ<br />
        ЗОБРАЖЕННЯ МОДЕЛЕЙ
      </h1>

      <ul class="our-made-title">
        <li class="our-made-title__list">
          <picture>
            <source
              srcset="
                ./images/modeling/hamut-desc-1x.jpg 1x,
                ./images/modeling/hamut-desc-2x.jpg 2x
              "
              media="(min-width:1444px)"
            />
            <source
              srcset="./images/modeling/hamut-tab-1x.jpg 1x, ./images/modeling/hamut-tab-2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/modeling/hamut-mob-1x.jpg 1x, ./images/modeling/hamut-mob-2x.jpg 2x"
              media="(min-width:320px)"
            />
            <img src="./images/modeling/hamut-mob-1x.jpg" alt="3D модель зажима" width="134.62" />
          </picture>
        </li>
        <li class="our-made-title__list">
          <picture>
            <source
              srcset="
                ./images/modeling/shtangel-desc-1x.jpg 1x,
                ./images/modeling/shtangel-desc-2x.jpg 2x
              "
              media="(min-width:1444px)"
            />
            <source
              srcset="
                ./images/modeling/shtangel-tab-1x.jpg 1x,
                ./images/modeling/shtangel-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/modeling/shtangel-mob-1x.jpg 1x,
                ./images/modeling/shtangel-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./images/modeling/shtangel-desc-1x.jpg"
              alt="3Dмодель штангенцыркуля"
              width="134.62"
            />
          </picture>
        </li>
        <li class="our-made-title__list">
          <picture>
            <source
              srcset="
                ./images/modeling/plata-desc-1x.jpg 1x,
                ./images/modeling/plata-desc-2x.jpg 2x
              "
              media="(min-width:1444px)"
            />
            <source
              srcset="./images/modeling/plata-tab-1x.jpg 1x, ./images/modeling/plata-tab-2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/modeling/plata-mob-1x.jpg 1x, ./images/modeling/plata-mob-2x.jpg 2x"
              media="(min-width:320px)"
            />
            <img
              src="./images/modeling/plata-desc-1x.jpg"
              alt="3Dмодель микросхемы"
              width="134.62"
            />
          </picture>
        </li>
        <li class="our-made-title__list">
          <picture>
            <source
              srcset="
                ./images/modeling/rotor-desc-1x.jpg 1x,
                ./images/modeling/rotor-desc-2x.jpg 2x
              "
              media="(min-width:1444px)"
            />
            <source
              srcset="./images/modeling/rotor-tab-1x.jpg 1x, ./images/modeling/rotor-tab-2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/modeling/rotor-mob-1x.jpg 1x, ./images/modeling/rotor-mob-2x.jpg 2x"
              media="(min-width:320px)"
            />
            <img src="./images/modeling/rotor-desc-1x.jpg" alt="3Dротор" width="134.62" />
          </picture>
        </li>
      </ul>
      <button class="main-button" type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
    </div>
  </section>
</body>
