<section class="section-modeling">
  <div class="container">
    <h1 class="title-modelin">3D МОДЕЛЮВАННЯ</h1>
    <div class="box-modeling">
      <p class="text">
        Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде
        створюватися шляхом 3D друку, обробки заготовки на ЧПУ станках або іншими виробничими
        методами, то до моделі преставляеться ряд інженерних вимог які повинен враховувати дизайнер
        при розробці моделі.
      </p>
      <p class="text-sabject">
        Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для
        її створення. Ми маємо широкий спектр інструментів для вдоволення будь-якої вашої задачі.
      </p>
    </div>
  </div>
</section>
<section class="section-betwent">
  <div class="container">
    <h2 class="title-creative">Способи створення моделі:</h2>

    <div class="box-for-ul">
      <ul class="crative-list">
        <li class="crative-list__item">
          <p class="crative-list__text">3D сканування</p>
        </li>
        <li class="crative-list__item">
          <p class="crative-list__text">На основі фотографій з доданими розмірами</p>
        </li>
        <li class="crative-list__item">
          <p class="crative-list__text">За ескізами з розмірами</p>
        </li>
        <li class="crative-list__item">
          <p class="crative-list__text">За вашим кресленням</p>
        </li>
        <li class="crative-list__item">
          <p class="crative-list__text">По вже існуючому прототипу шляхом зняття розмірів</p>
        </li>
      </ul>
    </div>

    <picture>
      <source
        srcset="
          ./images/modeling/tansmashine-desc-1x.jpg 1x,
          ./images/modeling/tansmashine-desc-2x.jpg 2x
        "
        media="(min-width:1444px)"
      />
      <source
        srcset="
          ./images/modeling/tansmashine-tab-1x.jpg 1x,
          ./images/modeling/tansmashine-tab-2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/modeling/tansmashine-mob-1x.jpg 1x,
          ./images/modeling/tansmashine-mob-2x.jpg 2x
        "
        media="(min-width:320px)"
      />
      <img
        class="img-tansmashine"
        src="./images/modeling/tansmashine-desc-1x.jpg"
        alt="3D модель трансмиси"
      />
    </picture>
  </div>
</section>
<section class="section-we-made">
  <div class="container">
    <div class="box-photo-mod">
      <h1 class="our-creative">
        МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ<br />
        ЗОБРАЖЕННЯ МОДЕЛЕЙ
      </h1>
      <ul class="our-made-title">
        <li class="our-made-title__list">
          <picture>
            <source
              srcset="
                ./images/modeling/hamut-desc-1x.jpg 1x,
                ./images/modeling/hamut-desc-2x.jpg 2x
              "
              media="(min-width:1444px)"
            />
            <source
              srcset="./images/modeling/hamut-tab-1x.jpg 1x, ./images/modeling/hamut-tab-2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/modeling/hamut-mob-1x.jpg 1x, ./images/modeling/hamut-mob-2x.jpg 2x"
              media="(min-width:320px)"
            />
            <img src="./images/modeling/hamut-mob-1x.jpg" alt="3D модель зажима" width="#" />
          </picture>
        </li>
        <li class="our-made-title__list">
          <picture>
            <source
              srcset="
                ./images/modeling/shtangel-desc-1x.jpg 1x,
                ./images/modeling/shtangel-desc-2x.jpg 2x
              "
              media="(min-width:1444px)"
            />
            <source
              srcset="
                ./images/modeling/shtangel-tab-1x.jpg 1x,
                ./images/modeling/shtangel-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/modeling/shtangel-mob-1x.jpg 1x,
                ./images/modeling/shtangel-mob-2x.jpg 2x
              "
              media="(min-width:320px)"
            />
            <img
              src="./images/modeling/shtangel-desc-1x.jpg"
              alt="3Dмодель штангенцыркуля"
              width="#"
            />
          </picture>
        </li>
        <li class="our-made-title__list">
          <picture>
            <source
              srcset="
                ./images/modeling/plata-desc-1x.jpg 1x,
                ./images/modeling/plata-desc-2x.jpg 2x
              "
              media="(min-width:1444px)"
            />
            <source
              srcset="./images/modeling/plata-tab-1x.jpg 1x, ./images/modeling/plata-tab-2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/modeling/plata-mob-1x.jpg 1x, ./images/modeling/plata-mob-2x.jpg 2x"
              media="(min-width:320px)"
            />
            <img src="./images/modeling/plata-desc-1x.jpg" alt="3Dмодель микросхемы" width="#" />
          </picture>
        </li>
        <li class="our-made-title__list">
          <picture>
            <source
              srcset="
                ./images/modeling/rotor-desc-1x.jpg 1x,
                ./images/modeling/rotor-desc-2x.jpg 2x
              "
              media="(min-width:1444px)"
            />
            <source
              srcset="./images/modeling/rotor-tab-1x.jpg 1x, ./images/modeling/rotor-tab-2x.jpg 2x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/modeling/rotor-mob-1x.jpg 1x, ./images/modeling/rotor-mob-2x.jpg 2x"
              media="(min-width:320px)"
            />
            <img src="./images/modeling/rotor-desc-1x.jpg" alt="3Dротор" width="#" />
          </picture>
        </li>
      </ul>
    </div>

    <a href="/take-order-page.html" class="general-button">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
  </div>
</section>
