<section class="model-examples section">
  <div class="container">
    <h1 class="model-examples__header">Ми створюємо</h1>
    <div class="model-examples__container">
      <ul class="model-examples__list list">
        <li class="model-examples__item">
          <div class="model-examples__item-container">
            <div class="model-examples__bg"></div>
            <div class="model-examples__img-container">
              <picture>
                <source
                  media="(min-width: 1444px)"
                  srcset="
                    images/printing/prototypes-desktop.png   1x,
                    images/printing/prototypes-desktop2x.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    images/printing/prototypes-tablet.png   1x,
                    images/printing/prototypes-tablet2x.png 2x
                  "
                />

                <source
                  media="(min-width: 320px)"
                  srcset="images/printing/prototypes.png 1x, images/printing/prototypes2x.png 2x"
                />

                <img src="images/printing/prototypes.png" alt="Прототипи" />
              </picture>
            </div>
            <div class="model-examples__text">
              <p class="model-examples__heading">Прототипи</p>
            </div>
          </div>
        </li>
        <li class="model-examples__item">
          <div class="model-examples__item-container">
            <div class="model-examples__bg"></div>
            <div class="model-examples__img-container">
              <picture>
                <source
                  media="(min-width: 1444px)"
                  srcset="
                    images/printing/layouts-desktop.png   1x,
                    images/printing/layouts-desktop2x.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    images/printing/layouts-tablet.png   1x,
                    images/printing/layouts-tablet2x.png 2x
                  "
                />

                <source
                  media="(min-width: 320px)"
                  srcset="images/printing/layouts.png 1x, images/printing/layouts2x.png 2x"
                />

                <img src="images/printing/layouts.png" alt="Макети" />
              </picture>
            </div>
            <div class="model-examples__text">
              <p class="model-examples__heading">Макети</p>
            </div>
          </div>
        </li>
        <li class="model-examples__item">
          <div class="model-examples__item-container">
            <div class="model-examples__bg"></div>
            <div class="model-examples__img-container">
              <picture>
                <source
                  media="(min-width: 1444px)"
                  srcset="
                    images/printing/decor-desktop.png   1x,
                    images/printing/decor-desktop2x.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    images/printing/decor-tablet.png   1x,
                    images/printing/decor-tablet2x.png 2x
                  "
                />

                <source
                  media="(min-width: 320px)"
                  srcset="images/printing/decor.png 1x, images/printing/decor2x.png 2x"
                />

                <img src="images/printing/decor.png" alt="Декор" />
              </picture>
            </div>
            <div class="model-examples__text">
              <p class="model-examples__heading">Декор</p>
            </div>
          </div>
        </li>
        <li class="model-examples__item">
          <div class="model-examples__item-container">
            <div class="model-examples__bg"></div>
            <div class="model-examples__img-container">
              <picture>
                <source
                  media="(min-width: 1444px)"
                  srcset="
                    images/printing/corporative-design-desktop.png   1x,
                    images/printing/corporative-design-desktop2x.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    images/printing/corporative-design-tablet.png   1x,
                    images/printing/corporative-design-tablet2x.png 2x
                  "
                />

                <source
                  media="(min-width: 320px)"
                  srcset="
                    images/printing/corporative-design.png   1x,
                    images/printing/corporative-design2x.png 2x
                  "
                />

                <img src="images/printing/corporative-design.png" alt="Корпоративний дизайн" />
              </picture>
            </div>
            <div class="model-examples__text">
              <p class="model-examples__heading">Корпоративний дизайн</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="process-description section">
  <div class="container">
    <h2 class="visually-hidden">ПРОЦЕС 3D СКАНУВАННЯ</h2>
    <div>
      <ul class="list">
        <li class="process-description__item">
          <div class="process-description__img-container">
            <picture>
              <source
                media="(min-width: 1444px)"
                srcset="
                  images/printing/3d-printing-desktop.png   1x,
                  images/printing/3d-printing-desktop2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  images/printing/3d-printing-tablet.png   1x,
                  images/printing/3d-printing-tablet2x.png 2x
                "
              />

              <source
                media="(min-width: 320px)"
                srcset="images/printing/3d-printing.png 1x, images/printing/3d-printing2x.png 2x"
              />

              <img src="images/printing/3d-printing.png" alt="3D-друк" />
            </picture>
          </div>
          <div>
            <div class="process-description__text-container">
              <p>
                <span class="process-description__text-accent">3D-друк</span> - ми використовуємо
                FDM технологію друку. Вона представляє собою пошарове формування об'єкта за
                допомогою 3D принтера.
              </p>
              <p>
                Моделі для створення розроблюються дизайнерами в спеціальному програмному
                забезпеченні: системах автоматизованого проектування.
              </p>
              <p>
                3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу,
                мистецтві і багатьох інших сфер.
              </p>
            </div>
            <a class="process-description__button" href="/take-order-page.html">
              Зробити замовлення
            </a>
          </div>
        </li>
        <li class="process-description__item">
          <div class="process-description__img-container">
            <picture>
              <source
                media="(min-width: 1444px)"
                srcset="
                  images/printing/3d-modeling-desktop.png   1x,
                  images/printing/3d-modeling-desktop2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  images/printing/3d-modeling-tablet.png   1x,
                  images/printing/3d-modeling-tablet2x.png 2x
                "
              />

              <source
                media="(min-width: 320px)"
                srcset="images/printing/3d-modeling.png 1x, images/printing/3d-modeling2x.png 2x"
              />

              <img src="images/printing/3d-modeling.png" alt="3D-моделювання" />
            </picture>
          </div>
          <div>
            <div class="process-description__text-container">
              <p>
                <span class="process-description__text-accent">3D-моделювання</span> - це процес
                розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за
                допомогою спеціалізованого програмного забезпечення.
              </p>
              <p>Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
              <p>
                Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю
                задовольнить ваші потреби.
              </p>
            </div>
            <a class="process-description__button" href="/take-order-page.html">
              Зробити замовлення
            </a>
          </div>
        </li>
        <li class="process-description__item">
          <div class="process-description__img-container">
            <picture>
              <source
                media="(min-width: 1444px)"
                srcset="
                  images/printing/3d-scanning-desktop.png   1x,
                  images/printing/3d-scanning-desktop2x.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  images/printing/3d-scanning-tablet.png   1x,
                  images/printing/3d-scanning-tablet2x.png 2x
                "
              />

              <source
                media="(min-width: 320px)"
                srcset="images/printing/3d-scanning.png 1x, images/printing/3d-scanning2x.png 2x"
              />

              <img src="images/printing/3d-scanning.png" alt="3D-сканування" />
            </picture>
          </div>
          <div>
            <div class="process-description__text-container">
              <p>
                <span class="process-description__text-accent">3D-сканування</span> - зняття даних,
                шляхом аналізу форми предмета і на основі отриманих даних створення її 3D-моделі.
              </p>
              <p>
                Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для
                візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на
                3D-принтері.
              </p>
            </div>
            <a class="process-description__button" href="/take-order-page.html">
              Зробити замовлення
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
