<footer class="footer">
    <div class="container footer-conteiner">

        <a href="./index.html" class="logo logo_footer link">
            <img src="images/logo/logo_d.svg" alt="логотип">
        </a>
        <div class="footer-list">
            <nav class="footer-nav">

                <ul class="footer_nav-list list">
                    <li class="footer_nav-item"><a href="./index.html" class="footer_nav-link link">Головна</a></li>
                    <li class="footer_nav-item"><a href="3dmodeling-page.html" class="footer_nav-link link">3D
                            Моделювання</a></li>
                    <li class="footer_nav-item"><a href="3dscanning-page.html" class="footer_nav-link link">3D
                            Сканування</a></li>
                    <li class="footer_nav-item"><a href="3dprinting-page.html" class="footer_nav-link link">3D Друк</a>
                    </li>
                    <li class="footer_nav-item"><a href="take-order-page.html" class="footer_nav-link link">Замовити</a>
                    </li>
                    <li class="footer_nav-item"><a href="contact-page.html" class="footer_nav-link link">Контакти</a>
                    </li>
                </ul>
            </nav>
            <div class="social-link">
                <ul class="social-nav list">
                    <li class="social_nav-item"><a href="#" class="social_nav-link link">Instagram</a></li>
                    <li class="social_nav-item"><a href="#" class="social_nav-link link">YouTube</a></li>
                    <li class="social_nav-item"><a href="#" class="social_nav-link link">Facebook</a></li>
                </ul>
            </div>
            <address class="footer-address">
                <ul class="footer-address_nav list">
                    <h3 class="footer-address_title">Email</h3>

                    <li class="footer-address_item">
                        <a href="mailto:3dfreedom.info@gmail.com"
                            class="footer-address_link link">3dfreedom.info@gmail.com</a>
                    </li>
                    <h3 class="footer-address_title">Телефони</h3>
                    <li class="footer-address_item">
                        <a href="tel:+380936432288" class="footer-address_link link">+38 (093) 643 22 88</a>
                    </li>
                    <li class="footer-address_item">
                        <a href="tel:+380503454423" class="footer-address_link link">+38 (050) 345 44 23</a>
                    </li>
                </ul>
            </address>


        </div>



    </div>

</footer>