<main class="main__scaning-page">
    <section class="scaning__section-hero">
    <div class="container container__section-hero">
        <h1 class="scaning__section-title">3D сканування</h1>
        <ul class="list scaning__section-list">
            <li class="scaning__section-list-item">Процес створення 3D моделі по вже існуючій деталі може займати тривалий час. У деяких випадках процесс може займати багато годин. Але якщо виріб має складну геометрію і криволінійні поверхні, то велика ймовірність що перенести об'єкт в тривимірну цифрову модель може бути неможливо.</li>
            <li class="scaning__section-list-item">У такому випадку застосовується технологія 3D сканування. Цей метод оцифровки об'єктів дозволяє в короткі терміни отримати тривимірну модель деталі з потрібною точністю. Якщо від сканування потрібна проста комп'ютерна візуалізація, то допустима похибка сканування менше 2%.</li>
            <li class="scaning__section-list-item">Якщо потрібно сканування деталей з максимальною точністю, то використовуються спеціальні технології і постобробка отриманих сканів фахівцем.</li>
        </ul>
        <picture class="scaning__section-hero-picture">
            <source media="(min-width: 1440px)" srcset="./images/scaning/scaning_photo1-d.png 1x, ./images/scaning/scaning_photo1-d@2x.png 2x"/>
            <source media="(min-width: 768px)" srcset="./images/scaning/scaning_photo1-t.png 1x, ./images/scaning/scaning_photo1-t@2x.png 2x"/>
            <source media="(min-width: 320px)" srcset="./images/scaning/scaning_photo1-m.png 1x, ./images/scaning/scaning_photo1-m@2x.png 2x"/>
            <img src="./images/scaning/scaning_photo1-m.png" alt="Пристрій сканує об'єкт" class="3dscaning__img"/>
        </picture>           
    </div>    
    </section>
    <section class="scaning__section-process">
        <div class="container container__section-process">
            <h2 class="scaning__section-process-title">Процес 3D сканування</h2>
            <ul class="list scanning__process-list">
                <li class="scanning__process-list-item">
                    <picture class="scaning__process-list-picture">
                        <source media="(min-width: 1440px)" srcset="./images/scaning/scan_process1-d.png 1x, ./images/scaning/scan_process1-d@2x.png 2x"/>
                        <source media="(min-width:768px)" srcset="./images/scaning/scan_process1-t.png 1x, ./images/scaning/scan_process1-t@2x.png 2x"/>
                        <source media="(min-width:320px)" srcset="./images/scaning/scan_process1-m.png 1x, ./images/scaning/scan_process1-m@2x.png 2x"/>
                        <img class="scaning__process-list-image" src="./images/scaning/scan_process1-m.png" alt="Деталь складної конфігурації"/>
                    </picture>
                    <h3 class="scaning__process-list-text">Підготовка деталі до сканування</h3> 
                </li>
                <li class="scanning__process-list-item">
                    <picture class="scaning__process-list-picture">
                    <source media="(min-width: 1440px)" srcset="./images/scaning/scan_process2-d.png 1x, ./images/scaning/scan_process2-d@2x.png 2x"/>
                    <source media="(min-width: 768px)" srcset="./images/scaning/scan_process2-t.png 1x, ./images/scaning/scan_process2-t@2x.png 2x"/>
                    <source media="(min-width: 320px)" srcset="./images/scaning/scan_process2-m.png 1x, ./images/scaning/scan_process2-m@2x.png 2x"/>
                    <img class="scaning__process-list-image" src="./images/scaning/scan_process2-m.png" alt="Деталь складної конфігурації"/>
                    </picture>
                    <h3 class="scaning__process-list-text">Створення сканів і їх обробка</h3>
                </li>
                <li class="scanning__process-list-item">
                    <picture class="scaning__process-list-picture">
                    <source media="(min-width: 1440px)" srcset="./images/scaning/scan_process3-d.png 1x, ./images/scaning/scan_process3-d@2x.png 2x">
                    <source media="(min-width: 768px)" srcset="./images/scaning/scan_process3-t.png 1x, ./images/scaning/scan_process3-t@2x.png 2x">
                    <source media="(min-width: 320px)" srcset="./images/scaning/scan_process3-m.png 1x, ./images/scaning/scan_process3-m@2x.png 2x">
                    <img class="scaning__process-list-image" src="./images/scaning/scan_process3-m.png" alt="Деталь складної конфігурації">
                    </picture>
                    <h3 class="scaning__process-list-text">Перетворення <span lang="en">reverse engineering</span></h3> 
                </li>
                <li class="scanning__process-list-item">
                    <picture class="scaning__process-list-picture">
                    <source media="(min-width: 1440px)" srcset="./images/scaning/scan_process4-d.png 1x, ./images/scaning/scan_process4-d@2x.png 2x">
                    <source media="(min-width: 768px)" srcset="./images/scaning/scan_process4-t.png 1x, ./images/scaning/scan_process4-t@2x.png 2x">
                    <source media="(min-width: 320px)" srcset="./images/scaning/scan_process4-m.png 1x, ./images/scaning/scan_process4-m@2x.png 2x">
                    <img class="scaning__process-list-image" src="./images/scaning/scan_process4-m.png" alt="Деталь складної конфігурації">
                    </picture>
                    <h3 class="scaning__process-list-text">Підготовка моделі до друку</h3>
                </li>
            </ul>
            <div class="order-form-button">
            <a class="link button__link" href="./take-order-page.html">Зробити замовлення</a>
            </div>
        </div>
    </section>
</main>
