<!--CONTACT-->
<section class="contact">
    <div class="contact__container">
        <h1 class="contact__title">КОНТАКТИ</h1>
        <div class="contact_hero_iframe-container">
            <div class="contact__hero_iframe">
            <iframe src="https://www.youtube.com/embed/X_oiyl6fNsM" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <div class="contact__list__container">
            <ul class="list contact__list">
                <li class="contact__list__item">
                    <p class="contact__list__text">Людина уперше побачивши процес 3D друку може легко захопитися
                        спостереженням за цим процесом не на десяток хвилин.
                    </p>
                </li>
                <li class="contact__list__item">
                    <p class="contact__list__text ">Наша команда створює timelapse відео що б ви могли краще
                        ознайомитися з технологією 3D друку і просто помилуватися
                        красою цього процесу.</p>
                </li>
                <li class="contact__list__item">
                    <p class="contact__list__text contact__list__text-emodji">Приємного перегляду!<span>😉</span></p>
                </li>
            </ul>
        </div>
        </div>
        <div class="contact__form__container">
            <form class="contact__form">
                <div class="contact__form-group">
                    <p class="contact__details__head">ЗВ’ЯЖІТЬСЯ З НАМИ</p>
                    <label class="contact__form-group__label">
                        Ім’я
                        <input class="contact__form-group__input" type="text" name="username"
                            placeholder="Олексій" />
                    </label>
                    <label class="contact__form-group__label">

                        <input class="contact__form-group__input" placeholder="Email" type="email" name="email" />
                    </label>
                    <label class="contact__form-group__label-last">
                        Повідомлення
                        <textarea class="contact__form-group__textarea" name="feedback" rows="5"
                            placeholder="Залишіть своє повідомлення"></textarea>
                    </label>

                    <p class="contact__details__conditions">*Прикріпіть зображення / креслення / STL / Obj /
                        CAD-модель</p>

                    <button class="main-button" type="submit">ВІДПРАВИТИ</button>
                    
                </div>
            </form>

            <div class="contact__address-list__container">
                <ul class="list contact__address-list">
                    <li class="contact__address-list__item">
                        <p class="contact__address-list__text">ТЕЛЕФОНИ</p>
                        <a class="link contact__address-list__link" href="tel:+380957384551">+38 (095)
                            -73-84-551</a>
                        <a class="link contact__address-list__link" href="tel:+380980025235">+38 (098)
                            -00-25-235</a>
                    </li>
                    <li class="contact__address-list__item">
                        <p class="contact__address-list__text">Email</p>
                        <a class="link contact__address-list__link"
                            href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
                    </li>
                    <li class="contact__address-list__item">
                        <p class="contact__address-list__text">Робочий час</p>
                        <p class="contact__address-list__text-time">Пн-пт:<br class="contact__address-list__text-time-carryover">з 8:00 до 19:00</p>
                        <p class="contact__address-list__text-time">Сб, Нд:<br class="contact__address-list__text-time-carryover">з 10:00 до 17:00</p>
                    </li>
                </ul>

            </div>

        </div>


    </div>

</section>