<div>
    <ul class="contact-list">
        <li class="contact-list__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ut molestiae aliquam fugiat, quasi i
            taque sunt veritatis repudiandae? Corporis qu
            o sed saepe! Cum cupiditate accusamus inventore harum tenetur rerum error?</li>
        <li class="contact-list__item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat fugiat deleniti mollitia, debitis beata
            e laborum nobis nostrum harum? Dolorem
            que corporis, expedita officiis molestias minus cupiditate amet et eligendi nihil! Pariatur?</li>
        <li class="contact-list__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat beatae volupta
            tibus ab illo! Impedit cumque, ut consequuntur distinctio earum saepe quia quas optio natus! Adipisci quas amet possimus saepe placeat.</li>
        <li class="contact-list__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, odio officiis 
            natus fugiat optio quo quia tenetur quod voluptate sint ad praesentium, esse eligendi ipsa deserunt nesciunt aut, incidunt est!</li>
    </ul>
</div>