<section class="hero">
    <div class="hero__container">
        <h1 class="hero__title"> <span class="hero__title--first">Інженерна,</span> <span
                class="hero__title--second">конструкторська</span> та дизайнерська робота</h1>
        <ul class="hero__list list">
            <li class="hero__item ">
                <div class="hero__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/main-galery/robot.jpg 1x, ./images/main-galery/robot@2x.jpg 2x">
                        <source media="(min-width: 768px)"
                            srcset="./images/main-galery/robot-tabl.jpg 1x, ./images/main-galery/robot-tabl@2x.jpg 2x">
                        <source media="(min-width: 320px)"
                            srcset="./images/main-galery/robot-mob.jpg 1x, ./images/main-galery/robot-mob@2x.jpg 2x">
                        <img class="hero__img--robot" src="./images/main-galery/robot.jpg" alt="robot" />
                    </picture>
                </div>
            </li>

            <li class="hero__item">
                <div class="hero__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/main-galery/lamps.jpg 1x, ./images/main-galery/lamps@2x.jpg 2x">
                        <source media="(min-width: 768px)"
                            srcset="./images/main-galery/lamps-tabl.jpg 1x, ./images/main-galery/lamps-tabl@2x.jpg 2x">
                        <source media="(min-width: 320px)"
                            srcset="./images/main-galery/lamps-mob.jpg 1x, ./images/main-galery/lamps-mob@2x.jpg 2x">
                        <img class="hero__img--lamps" src="./images/main-galery/lamps.jpg" alt="lamps" />
                    </picture>
                </div>
            </li>

            <li class="hero__item">
                <div class="hero__thumb">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="./images/main-galery/head.jpg 1x, ./images/main-galery/head@2x.jpg 2x">
                        <source media="(min-width: 768px)"
                            srcset="./images/main-galery/head-tabl.jpg 1x, ./images/main-galery/head-tabl@2x.jpg 2x">
                        <source media="(min-width: 320px)"
                            srcset="./images/main-galery/head-mob.jpg 1x, ./images/main-galery/head-mob@2x.jpg 2x">
                        <img class="hero__img--head" src="./images/main-galery/head.jpg" alt="head" />
                    </picture>
                </div>
            </li>

           
        </ul>
    
         <div class="arrov--none">
            <a href="#gallery" class="hero__svg--arrow">
                <picture>
                    <source media="(min-width: 1440px)" srcset="./images/main-galery/arrow.svg">
                    <source media="(min-width: 768px)" srcset="./images/main-galery/arrow-tabl.svg">
                    <img src="./images/main-galery/arrow.svg" alt="Ліфт до секції Галерея" />
                </picture>
            </a>
            
        </div> 
        <h2 class="hero__title--down">Ми втілюємо ідеї в реальність</h2>
    </div>



</section>

<!-- секція галерея-->

<section id="gallery" class="gallery">
    <div class="container gallery__container">
        <h2 class="gallery__tittle">ГАЛЕРЕЯ</h2>
        <ul class="list gallery__list">
            <li class="gallery__item">
                <article>
                    <div class="gallery__thumb">
                        <picture>
                            <source media="(min-width: 1440px)"
                                srcset="./images/main-galery/quality.jpg 1x, ./images/main-galery/quality@2x.jpg 2x">
                            <source media="(min-width: 768px)"
                                srcset="./images/main-galery/quality-tabl.jpg 1x, ./images/main-galery/quality-tabl@2x.jpg 2x">
                            <source media="(min-width: 320px)"
                                srcset="./images/main-galery/quality-mob.jpg 1x, ./images/main-galery/quality-mob@2x.jpg 2x">
                            <img src="./images/main-galery/quality.jpg" alt="quality" />
                        </picture>
                    </div>
                    <div class="container--pack">
                        <h3 class="gallery__title--about">Інженерні методи аналізу та контролю якості</h3>
                    </div>
                </article>
            </li>

            <li class="gallery__item">
                <article>
                    <div class="gallery__thumb">
                        <picture>
                            <source media="(min-width: 1440px)"
                                srcset="./images/main-galery/scaning.jpg 1x, ./images/main-galery/scaning@2x.jpg 2x">
                            <source media="(min-width: 768px)"
                                srcset="./images/main-galery/scaning-tabl.jpg 1x, ./images/main-galery/scaning-tabl@2x.jpg 2x">
                            <source media="(min-width: 320px)"
                                srcset="./images/main-galery/scaning-mob.jpg 1x, ./images/main-galery/scaning-mob@2x.jpg 2x">
                            <img src="./images/main-galery/scaning.jpg" alt="scaning" />
                        </picture>
                    </div>
                    <div class="container--pack">
                        <h3 class="gallery__title--about">Високоточне 3D сканування</h3>
                    </div>
                </article>
            </li>

            <li class="gallery__item">
                <article>
                    <div class="gallery__thumb">
                        <picture>
                            <source media="(min-width: 1440px)"
                                srcset="./images/main-galery/copy.jpg 1x, ./images/main-galery/copy@2x.jpg 2x">
                            <source media="(min-width: 768px)"
                                srcset="./images/main-galery/copy-tabl.jpg 1x, ./images/main-galery/copy-tabl@2x.jpg 2x">
                            <source media="(min-width: 320px)"
                                srcset="./images/main-galery/copy-mob.jpg 1x, ./images/main-galery/copy-mob@2x.jpg 2x">
                            <img src="./images/main-galery/copy.jpg" alt="copy" />
                        </picture>
                    </div>
                    <div class="container--pack">
                        <h3 class="gallery__title--about">Створення точної копії на базі сканування reverse engineering
                        </h3>
                    </div>

                </article>
            </li>

            <li class="gallery__item">
                <article>
                    <div class="gallery__thumb">
                        <picture>
                            <source media="(min-width: 1440px)"
                                srcset="./images/main-galery/designing.jpg 1x, ./images/main-galery/designing@2x.jpg 2x">
                            <source media="(min-width: 768px)"
                                srcset="./images/main-galery/designing-tabl.jpg 1x, ./images/main-galery/designing-tabl@2x.jpg 2x">
                            <source media="(min-width: 320px)"
                                srcset="./images/main-galery/designing-mob.jpg 1x, ./images/main-galery/designing-mob@2x.jpg 2x">
                            <img src="./images/main-galery/designing.jpg" alt="designing" />
                        </picture>
                    </div>
                    <div class="container--pack">
                        <h3 class="gallery__title--about">Всі цикли 3D проектування, створення фотореалістичних цифрових
                            моделей</h3>
                    </div>
                </article>
            </li>
        </ul>

    </div>
<!--     
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="js/slick.js"></script>  -->

</section>
