<section class="hero__page-oder">
  <div class="container hero__page-oder-container">
    <h1 class="hero__item-page-oder">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
    <div class="hero__blok-img">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/take-order/galery-image1_1d.png    1x,
            ./images/take-order/galery-image1_1d@2x.png 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/take-order/galery-image1_1t.png    1x,
            ./images/take-order/galery-image1_1t@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/take-order/galery-image1_1m.png    1x,
            ./images/take-order/galery-image1_1m@2x.png 2x
          "
        />
        <img class="hero__page-oder-pic" src="./images/take-order/galery-image1_1d.png" alt="" />
      </picture>
      <div class="hero__page_oder-blok">
        <div class="hero__page_oder-text">
          <p class="hero__page_oder-text1">
            На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
          </p>
          <p class="hero__page_oder-text2">
            Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі
            ваші запитання.
          </p>
        </div>
        <div class="hero__page-oder-pic">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/take-order/pictures_d.png    1x,
                ./images/take-order/pictures_d@2x.png 2x
              "
            />
            <img class="hero__page-oder-pic1" src="#" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </div>

  <!-- FORMA -->

  <div class="container conteiner_form">
    <div class="page-oder__conteiner">
      <div class="page-oder__form-section">
        <div class="page-oder__form-conteiner">
          <form class="page-oder__form" name="page-oder__form">
            <h2 class="page-oder__form-item">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>

            <div class="oder-form__input oder-form__input--wrap">
              <input
                name="oder-name"
                id="oder-name"
                type="text"
                required
                minlength="2"
                placeholder=" "
              />
              <label for="oder-name" class="oder-form__label">Ім’я</label>
            </div>
            <div class="oder-form__input oder-form__input--wrap">
              <input
                name="oder-mail"
                id="oder-mail"
                type="email"
                required
                minlength="2"
                placeholder=" "
              />
              <label for="oder-mail" class="oder-form__label">Email</label>
            </div>

            <div class="select-box">
              <ul class="options-container1 select-box__list">
                <li class="option1 select-box__item">
                  <input type="radio" class="radio" id="300" name="plastic" value="300" />
                  <label for="300">300 мікрон</label>
                </li>
                <li class="option1 select-box__item">
                  <input type="radio" class="radio" id="200" name="plastic" value="200" />
                  <label for="200">200 мікрон</label>
                </li>
                <li class="option1 select-box__item">
                  <input type="radio" class="radio" id="100" name="plastic" value="100" />
                  <label for="100">100 мікрон</label>
                </li>
                <li class="option1 select-box__item">
                  <input type="radio" class="radio" id="support" name="plastic" value="support" />
                  <label for="support">Труднощі у виборі - ми допоможемо</label>
                </li>
              </ul>
              <p class="selected1 select-form__subtitle">Види пластика</p>
            </div>
            <div class="select-box">
              <ul class="options-container2 select-box__list">
                <li class="option2 select-box__item">
                  <input type="radio" class="radio" id="400" name="quality" value="hight" />
                  <label for="400">Висока</label>
                </li>
                <li class="option2 select-box__item">
                  <input type="radio" class="radio" id="500" name="quality" value="medium" />
                  <label for="500">Середня</label>
                </li>
                <li class="option2 select-box__item">
                  <input type="radio" class="radio" id="600" name="quality" value="low" />
                  <label for="600">Низька</label>
                </li>
                <li class="option2 select-box__item">
                  <input type="radio" class="radio" id="suppor" name="quality" value="support" />
                  <label for="suppor">Труднощі у виборі - ми допоможемо</label>
                </li>
              </ul>
              <p class="selected2 select-form__subtitle">Якість друку</p>
            </div>

            <div class="select-box">
              <ul class="options-container3 select-box__list">
                <li class="option3 select-box__item">
                  <input type="radio" class="radio" id="700" name="color" value="yellow" />
                  <label for="700">Жовтий</label>
                </li>
                <li class="option3 select-box__item">
                  <input type="radio" class="radio" id="800" name="color" value="blue" />
                  <label for="800">Синій</label>
                </li>
                <li class="option3 select-box__item">
                  <input type="radio" class="radio" id="900" name="color" value="black" />
                  <label for="900">Чорний</label>
                </li>
                <li class="option3 select-box__item">
                  <input type="radio" class="radio" id="suppo" name="color" value="support" />
                  <label for="suppo">Труднощі у виборі - ми допоможемо</label>
                </li>
              </ul>
              <p class="selected3 select-form__subtitle">Колір</p>
            </div>

            <label class="page-oder__form-message">
              <span class="page-oder__content">Повідомлення</span>

              <span class="file-upload">
                <input type="file" id="file-uploader" class="visually-hidden" />
                <svg class="paper-clip-icon">
                  <use
                    xlink:href="./images/take-order/sprit.svg#icon-simple-line-icons_paper-clip-1"
                  ></use>
                </svg>
              </span>
              <textarea
                name="user-message"
                class="page-oder__message"
                placeholder="Залишіть своє повідомлення"
              ></textarea>
            </label>
            <p class="page-oder__form-message-text">
              *Прикріпіть зображення/креслення/STL/Obj/CAD-модель
            </p>
          </form>
          <div class="page-oder__button">
            <button type="button" class="button">ВІДПРАВИТИ</button>
          </div>
        </div>
      </div>

      <!-- Contakts -->

      <div class="container contacts__page-oder">
        <div class="page-oder__contacts-conteiner">
          <div class="page-oder__contacts">
            <ul class="page-oder__contacts-list page-oder__list list">
              <li>
                <h3 class="page-oder__contacts-item list">ТЕЛЕФОНИ</h3>

                <p class="page-oder__contacts-phone list">+38 (095) -73-84-551</p>
                <p class="page-oder__contacts-phone list">+38 (098) -00-25-235</p>
              </li>
              <li>
                <h3 class="page-oder__contacts-item list">Email</h3>

                <p class="page-oder__contacts-email list">3dfreedom.info@gmail.com</p>
              </li>

              <li>
                <h3 class="page-oder__contacts-item list">РОБОЧИЙ ЧАС</h3>

                <p class="page-oder__contacts-time list">
                  <span class="days">Пн-пт:</span> з 8:00 до 19:00
                </p>
                <p class="page-oder__contacts-time list">
                  <span class="days">Сб, Нд:</span> з 10:00 до 17:00
                </p>
              </li>
            </ul>
          </div>
        </div>

        <!-- <picture>
          <source
            media="(min-width: 1440px)"
            srcset="./images/pic_d.png 1x, ./images/pic_d.png@2x.png 2x"
          /> -->
        <img class="page-oder__pic2" src="./images/take-order/pic_d.png" alt="" />
        <!-- </picture> -->
      </div>
    </div>
  </div>
</section>
