.bg-3dmodeling-page {
  background-image: url('../images/modeling/decor-mob-1x.png');
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2) and (min-width: 280px),
    (min-resolution: 192dpi) and (min-width: 280px),
    (min-resolution: 2dppx) and (min-resolution: 280px) {
    // width: 320px;
    background-image: url('../images/modeling/decor-mob-2x.png');
  }

  @media screen and (min-width: 768px) {
    background-image: url('../images/modeling/decor-tab-1x.png');
    background-size: 100%;
    background-position-x: center;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-resolution: 768px) {
    background-image: url('../images/modeling/decor-tab-2x.png');
    // background-position-x: center;
  }

  @media screen and (min-width: 1444px) {
    background-image: url('../images/modeling/decor-desc-1x.png');
    // background-position-x: center;
  }

  @media (min-device-pixel-ratio: 2) and (min-width: 1444px),
    (min-resolution: 192dpi) and (min-width: 1444px),
    (min-resolution: 2dppx) and (min-resolution: 1444px) {
    background-image: url('../images/modeling/decor-desc-2x.png');
    // background-position-x: center;
  }
}
