  .bg-main-page {
    background-image: url('../images/decor_m-min.png');
    background-size: contain;
    
    @media (min-device-pixel-ratio: 2) and (min-width: 280px),
      (min-resolution: 192dpi) and (min-width: 280px),
      (min-resolution: 2dppx) and (min-resolution: 280px) {
      background-image: url('../images/decor_m-2x-min.png');
    }

    @media screen and (min-width: 768px) {
      background-image: url("../images/decor_t-min.png");
      background-size: 100%;
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
      (min-resolution: 192dpi) and (min-width: 768px),
      (min-resolution: 2dppx) and (min-resolution: 768px) {
      background-image: url("../images/decor_t-2x-min.png");
    }

    @media screen and (min-width: 1440px) {
      background-image: url('../images/decor_d-min.png');
      
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 1440px),
      (min-resolution: 192dpi) and (min-width: 1440px),
      (min-resolution: 2dppx) and (min-resolution: 1440px) {
      background-image: url('../images/decor_d-2x-min.png');
    }
  }

