.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background: #f5f5fa;
  box-shadow: 5px 2px 5px 8px rgba(72, 121, 150, 0.1);
}
.footer-conteiner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-address_title {
  margin-top: 24px;
}
.footer_nav-item:not(:last-child) {
  margin-bottom: 8px;
}
.social-nav {
  margin-top: 24px;
}

.footer_nav-link {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--prmaty-text-color);
}

.social_nav-link {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.social_nav-item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-address_title {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.footer-address_link {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25px;
  color: var(--secondary-text-color);
}

.footer-address_item {
  margin-top: 8px;
}
@media screen and (min-width: 320px) and (max-width: 1439px) {
  .logo_footer {
    margin: 0 auto;
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 768px) {
  .footer-address_title:first-child {
    margin-top: 0;
  }
  .footer-list {
    display: flex;
    justify-content: space-between;
  }
  .social-nav {
    text-align: start;
    margin-top: 0;
    margin-left: 135px;
    margin-right: 60px;
  }
  .footer_nav-list {
    text-align: start;
    margin-top: 0;
  }
  .footer-address_nav {
    text-align: end;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 189px;
    padding-right: 189px;
  }
  .footer-conteiner {
    flex-direction: row;
  }
  .logo_footer {
    margin-right: 136px;
  }
  .footer-nav {
    display: flex;
  }
  .footer_nav-list {
    margin-top: 0;
  }

  .social-nav {
    margin-top: 0;
    margin-left: 87px;
    margin-right: 145px;
  }
  .footer-address_nav {
    text-align: start;
  }
}
