.mobile-menu {
  position: absolute;
  top: 450px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  padding-top: 44px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

  background-color: var(--primary-bg-color);

  background-image: url('../images/decor_m-min.png');
  background-size: cover;
  background-position: 0px -54px;

    @media (min-device-pixel-ratio: 2) and (min-width: 280px),
      (min-resolution: 192dpi) and (min-width: 280px),
      (min-resolution: 2dppx) and (min-resolution: 280px) {
      background-image: url('../images/decor_m-2x-min.png');
    }

    @media screen and (min-width: 768px) {
      background-image: url('../images/decor_t-min.png');
      background-position: 0px -70px;
    }

    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
      (min-resolution: 192dpi) and (min-width: 768px),
      (min-resolution: 2dppx) and (min-resolution: 768px) {
      background-image: url('../images/decor_t-2x-min.png');
    }

    @media screen and (min-width: 1440px) {
      display: none;
    }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  top: 54px;
  @media screen and (min-width: 768px) {
    top: 72px;
  }
}
.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.mobile-menu__services {
  margin-top: 24px;
}
.mobile-menu__link {
  font-family: var(--primary-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  transition: color 250ms ease-in;

  color: var(--secondary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.current {
  -webkit-text-stroke: 1px var(--secondary-text-color);
  -webkit-text-fill-color: var(--primary-bg-color);
}
.mobile-menu__services-item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.mobile-menu__services-link {
  position: relative;
  font-family: var(--primary-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  transition: color 250ms ease-in;

  color: var(--secondary-text-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-menu__services-link::before {
  content: ' ';
  position: absolute;
  top: 12px;
  left: -15px;
  width: 7px;
  height: 7px;
  background-color: var(--secondary-text-color);
  border-radius: 3px 0px;
  transition: background-color 250ms ease-in;
}

.mobile-menu__services-link:hover::before {
  background-color: var(--accent-color);
}
