@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Bold'), local('Cera-Pro-Bold'),
        url('CeraPro-Bold.woff2') format('woff2'),
        url('CeraPro-Bold.woff') format('woff'),
        url('CeraPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }