@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Regular'), local('Cera-Pro-Regular'),
        url('CeraPro-Regular.woff2') format('woff2'),
        url('CeraPro-Regular.woff') format('woff'),
        url('CeraPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }